@model ExpensesTracker.Web.Data.Entities.Expense

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
