@model IEnumerable<AddExpenseViewModel>

@{
    ViewData["Title"] = "Expenses";
}

<h1>Expenses</h1>

<p>
    <a id="createButton" asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var viewModel in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => viewModel.ExpenseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => viewModel.ExpenseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => viewModel.ExpenseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => viewModel.ExpenseAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@viewModel.Id"class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@viewModel.Id"class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@viewModel.Id"class=" btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
